<div class="row">
  <div class="col-md-4">
    <%= f.field_container :name do %>
      <%= f.label :name, t(:name) %><br>
      <%= f.text_field :name, class: 'fullwidth form-control', placeholder: t('itsites_static_pages.placeholder_name') %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= f.field_container :hash_tag do %>
      <%= f.label :link_url, t(:hash_tag) %><br>
      <%= f.text_field :hash_tag, class: 'fullwidth form-control', placeholder: t('itsites_static_pages.placeholder_hash_tag') %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= f.field_container :active do %>
      <%= f.label :active, t(:active) %><br>
      <%= f.check_box :active, class: "form-control" %>
    <% end %>
  </div>


</div>